@import url('reset.css');
@import url('fonts.css');
@import url(variables.css);

/* Body */
body {
    background-image: url(../Images/backgrounds/background03.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background: #42275a;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to bottom, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to bottom, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #FFFFFF;
}
header{
    background: var(--Header-color);
    background: var(--Header-color-wekit);
    background: var(--Header-color-linear-gradient);
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0px;
}

div.header-right{
    display: block;
    float: left;
}
div.header-left{
    display: block;
    float: right;
    position: fixed;
    right: 30px;
}

div.header-center{
    font-size: 50px;
    display: block;
    width: 80%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    float:none;
    text-align: left;
}

img.icon-Header{
    margin: 2px;
    height: 40px;
}

#btnMenu, #btnShop, #btnUser{
    background-color: #00000000;
    border-style: none;
}

input[type=checkbox]{
    display: none;
}

input[type="checkbox"]:checked ~ #menu{
    transform: translate(300px);
    transition: all 300ms;
}
input[type="checkbox"]:checked ~ #lblMenu{
    transform: translate(300px);
    transition: all 300ms;
}

nav{
    position: fixed;
    height: 100%;
    width: 300px;
    top: 0px;
    left: -300px;
    display: block;
    transition: all 300ms;
}

#menu{
    background: var(--Nav-color);
    background: var(--Nav-color-webkit);
    background: var(--Nav-color-linear-gradient);
    position: fixed;
    height: 100%;
    width: 300px;
    /*left: -300px;*/
    display: block;
    transition: all 300ms;
}

#lblMenu{
    margin: 10px;
    position: fixed;
    transition: all 300ms;
    left: 0px;
    padding: 5px;
    border-radius: 5px;
    
}

.optionMenu{
    background: var(--Buttons-color);
    background: var(--Buttons-color-webkit);
    background: var(--Buttons-color-linear-gradient);
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
}

.optionMenu:hover{
    background: var(--Highlight-color);
    background: var(--Highlight-color-webkit);
    background: var(--Highlight-color-linear-gradient);
}

div ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#slider{
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #89253e99, #3a618699);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #89253e99, #3a618699); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    padding: 20px;
    width: 80%;
    height: 400px;
    max-width: 1080px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    color: white;
}

#slider img{
    width: 90%;
    height: 100%;
}

main{
    text-align: center;
    width: 80%;
    max-width: 1080px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

section.container{
    margin: 20px 0px 0px 0px;
}
section.container H2{ 
    background: var(--Titles-section-color);
    background: var(--Titles-section-color-webkit);
    background: var(--Titles-section-color-linear-gradient);
    border-radius: 10PX;
    color: white;
    padding: 15px;
    font-size: 24pt;
    margin: 0px 0px 20px 0px
}

section.container div.content-section{
    background: var(--Content-section-color);
    background: var(--Content-section-color-webkit);
    background: var(--Content-section-color-linear-gradient);
    padding: 15px 0px 15px 0px;
}

div.content-product{
    background: var(--Content-product-color);
    background: var(--Content-product-color-webkit);
    background: var(--Content-product-color-linear-gradient);
    margin: 5px;
    display: inline-block;
    width: 23%;
}

div.content-product img{
    width: 95%;
    margin: 2.5%;
}

div.content-product H3{
    font-size: 20pt;
    margin: 10px 0px 10px 0px;
}

.description-product{
    text-align: justify;
}

.ranking{
    margin: 10px;
}
label{ color:grey; font-size: 30pt;}
input[type = "radio"]{ display:none;}
.clasificacion{
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
}
label:hover{color:#dda815;}
label:hover ~ label{color:#dda815;}
input[type="radio"]:checked ~ label{color: #dda815;}

footer{
    background: var(--Footer-color);
    background: var(--Footer-color-webkit);
    background: var(--Footer-color-linear-gradient);
    text-align: center;
    height: 200px;
    width: 100%;
}