:root{
    /*COLORES DE FONDO*/
    /*HEADER*/
    --Header-color: #03001e;
    --Header-color-wekit: -webkit-linear-gradient(to left, #89253e, #3894d1, #2b7a63, #89253e, #3894d1, #2b7a63);
    --Header-color-linear-gradient: linear-gradient(to left, #89253e, #3894d1, #2b7a63, #89253e, #3894d1, #2b7a63);
    /*Menu Lateral*/
    --Nav-color: #075269;  /* fallback for old browsers */
    --Nav-color-webkit: -webkit-linear-gradient(to bottom, #89253e99, #2b7a6399);
    --Nav-color-linear-gradient: linear-gradient(to bottom, #89253e99, #2b7a6399);
    
    --Slider-color:#3a6186;  
    --Slider-color-webkit: -webkit-linear-gradient(to bottom, #89253e99, #3a618699);
    --Slider-color-linear-gradient: linear-gradient(to bottom, #89253e99, #3a618699);

    --Highlight-color: #d138c4;
    --Highlight-webkit: -webkit-linear-gradient(to right, #1f6a9c, #165b47);
    --Highlight-color-linear-gradient: linear-gradient(to right, #1f6a9c, #165b47);

    --Buttons-color: #3894d1;
    --Buttons-color-webkit: -webkit-linear-gradient(to right, #3894d1, #2b7a63);
    --Buttons-color-linear-gradient: linear-gradient(to right, #3894d1, #2b7a63);

    --Titles-section-color: #589634;
    --Titles-section-color-webkit: -webkit-linear-gradient(to right, #89253e, #3894d1);
    --Titles-section-color-linear-gradient:linear-gradient(to right, #89253e, #3894d1);

    --Content-section-color: #433496;
    --Content-section-color-webkit: -webkit-linear-gradient(to right, #402b7a99, #89253e99);
    --Content-section-color-linear-gradient:linear-gradient(to right, #402b7a99, #89253e99);

    --Content-product-color: #433496;
    --Content-product-color-webkit: -webkit-linear-gradient(to top, #3894d199, #2b7a6399);
    --Content-product-color-linear-gradient:linear-gradient(to right, #3894d199, #2b7a6399);

    --Footer-title-color: #292929;
    --Footer-title-color-webkit: -webkit-linear-gradient(to right, #89253e, #3894d1);
    --Footer-title-color-linear-gradient: linear-gradient(to right, #89253e, #3894d1);
    
    --Filter-color: #025f48;
    --Filter-color-webkit: -webkit-linear-gradient(to top, #000586, #598786, #896535);
    --Filter-color-linear-gradient: linear-gradient(to top, #000586, #598786, #896535);

    --Footer-color: #313131;
    --Footer-color-webkit: -webkit-linear-gradient(to right, #505050, #2a2a2a, #505050);
    --Footer-color-linear-gradient: linear-gradient(to right, #505050, #2a2a2a, #505050);
}